* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: auto;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.mobile_menu {
  display: none;
}

.main-head__navbar {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-head__navbar_logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-head__navbar_logo a {
  color: #000;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}

.main-head__navbar_mnu {
  width: 60%;
}

.main-head__navbar_mnu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 1.8rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-head__navbar_mnu ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 20px;
}

.main-head__navbar_mnu ul a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 5px;
  background-color: #f89900;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-head__navbar_mnu ul a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.phone {
  font-size: 3rem;
}

.main-head__top_content {
  width: 1920;
  height: 800px;
  /* background: url(../img/men_bg.png) no-repeat 1060px 120px, url(../img/bg_wrap.png) no-repeat left top/100% 80%, url(../img/bg1.png) no-repeat left 160px; */
  background: url(../img/solo_bg.png) no-repeat center center / cover
}

.main-head__top_content h2 {
  font-size: 6rem;
}

.main-head__top_content strong {
  font-size: 6rem;
  font-weight: 900;
}

.main-head__top_content p {
  font-size: 2.4rem;
  font-weight: 900;
}

.main-head__top_content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-head__top_content_text .right p {
  font-size: 1.8rem;
}

.main-head__top_content_form {
  width: 350px;
  height: 345px;
  background-color: #fafafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 14px;
  border-radius: 5px;
}

.main-head__top_content_form .head_form {
  text-align: center;
  padding: 36px 42px 23px 0px;
  line-height: 30px;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
}

.main-head__top_content_form input {
  height: 45px;
  padding: 17px;
  font-size: 2.4rem;
  border: none;
  margin-bottom: 25px;
}

.main-head__top_content_form .btn-grad {
  background: -webkit-gradient(linear, left bottom, left top, from(#f78800), to(#fae800));
  background: linear-gradient(0deg, #f78800 0%, #fae800 100%);
  font-size: 1.6rem;
  color: #fff;
  min-height: 59px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0;
}

.main-head__top_content_form span {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  height: 100%;
  margin-top: 10px;
  margin-left: 20px;
}

.section-head {
  width: 100%;
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

.section-head span {
  font-size: 3.6rem;
}

.count_work {
  font-size: 3.6rem;
}

.text_wrap h3 {
  font-size: 3.6rem;
}

.text_wrap .advance {
  margin-bottom: 90px;
}

.text_wrap p {
  font-size: 2.4rem;
}

.text_wrap .count_work {
  margin-top: 60px;
}

.text_wrap .form_outbg form {
  margin-top: 68px;
  padding: 0;
  height: 160px;
  background: transparent;
}

section {
  padding-top: 70px;
}

.works {
  width: 100%;
  height: 862px;
  /* background: url(../img/women_bg.png) no-repeat bottom right, #f4f4f2; */
  background: url(../img/women2_bg.png) no-repeat center center / cover
}

.refregerator-works {
  width: 100%;
  height: 682px;
  /* background: url(../img/bg_worker.png) no-repeat bottom left, #f4f4f2; */
  background: url(../img/bg_worker2.png) no-repeat center center / cover
}

.refregerator-works__content {
  text-align: right;
}

.mob_form_head {
  display: none; 
}

.refregerator-works__content .form_outbg {
  float: right;
}

.dishwasher-works {
  width: 100%;
  height: 730px;
  /* background: url(../img/posudomojka.png) no-repeat bottom right, #f4f4f2; */
  background: url(../img/posudomojka2.png) no-repeat center center / cover
}

.cofemachine-works {
  width: 100%;
  height: 720px;
  /* background: url(../img/cofee_machine.png) no-repeat bottom left, #f4f4f2; */
  background: url(../img/cofee_machine2.png) no-repeat center center / cover
}

.cofemachine-works__content {
  text-align: right;
}

.cofemachine-works__content .form_outbg {
  float: right;
}

.map_wrap {
  position: relative;
}

/* .map_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .6);
} */

.map_wrap form {
  position: absolute;
  top: 60px;
  float: right;
  padding-top: 100px;
  height: 540px;
  text-align: center;
  border-radius: 5px;
}

.map_wrap form p {
  font-weight: 700;
  font-size: 1.8rem;
}

.main_foot {
  background-color: #2f2f2f;
}

.main_foot a {
  color: #fff;
}

.main_foot ul a {
  color: #fff;
}

/* Кнопка мобильного меню */

.mnu_mbtn {
  border-radius: 2px;
  position: absolute;
  top: 50px;
  left: 340px;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #f89c00;
}

.btn-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.mnu_mbtn span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 3px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

.mnu_mbtn span + span {
  margin-top: 6px;
}
.active span {
  margin-top: -12px;
}
.active span:nth-child(1) {
  margin-bottom: 18px;
  animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
  margin-bottom: 20px;
  animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1280px){
  html{
    font-size: 9px;
  } 
  .main-head__navbar_logo img {
    width: 30px;
  }
  .main-head__navbar{
    padding: 20px 0;
  }
  .main-head__navbar,
  .main-head__top_content_text,
  .text_wrap {
    width: 80%;
    margin: 0 auto;
  }
  .text_wrap form {
    margin-left: 0;
  }
  .main-head__top_content_form{
    margin-left: 10%;
    margin-top: 60px;
  }
  .main-head__top_content_form{
    width: 300px;
    height: 400px;
  }
  .main-head__top_content_form span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px){
  html{
    font-size: 7px;
  }

  .main-head__top_content_text_right {
    display: none;
  }

  .mob_form_head {
    display: block;
    padding-top: 40px;
  }

  .main-head__navbar_mnu {
    width: 70%;
  }

  .main-head__navbar_mnu ul a{
    padding-left: 10px;
  }

  .main-head__navbar_mnu ul a{
    text-transform: uppercase;
    font-size: 1.8rem;
  }

  .main-head__top_content_form{
    width: 300px;
    height: 440px;
  }

  .main-head__top_content_form span {
    font-size: 1.2rem;
  }

  .map_wrap form {
    padding-top: 40px;
    height: 440px;
  }

  .main-head__navbar_mnu {
    display: none;
  }

  .main-head__navbar_logo {
    width: 100%;
    text-align: center;
  }

  .main-head__navbar_logo a {
    font-size: 6rem;
  }

  .main-head__navbar_logo img {
    width: 50px;
  }

  .mnu_mbtn {
    left: 460px;
  }
  
  .mobile_menu {
    display: block;
    position: absolute;
    top: 0;
    left: -40%;
    width: 40%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0,0,0, .9);
    transition: 0.2s;
  }

  .mobile_menu ul {
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    list-style-type: none;
  }

  .active_mmnu {
    left: 0;
  }

  .mobile_menu ul a {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 6px;
  }

  .mnu_mbtn {
    left: 460px;
  }

  .mobile_menu {
    width: 60%;
    left: -60%;
  }

  .active_mmnu {
    left: 0;
  }

  .main-head__top_content_form{
    width: 260px;
    height: 440px;
  }

  .map_wrap form {
    display: none;
  }

  .mob_wrap p{
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 6px;
  }

  .mnu_mbtn {
    left: 220px;
  }

  .mobile_menu {
    width: 60%;
    left: -60%;
  }

  .active_mmnu {
    left: 0;
  }

  .main-head__top_content_form{
    width: 260px;
    height: 440px;
  }

  .map_wrap form {
    display: none;
  }

  .mob_wrap p{
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 6px;
  }

  .mnu_mbtn {
    left: 320px;
  }

  .mobile_menu {
    width: 60%;
    left: -60%;
  }

  .active_mmnu {
    left: 0;
  }

  .main-head__top_content_form{
    width: 260px;
    height: 440px;
  }

  .map_wrap form {
    display: none;
  }

  .mob_wrap p{
    font-size: 2rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 6px;
  }

  .mnu_mbtn {
    left: 220px;
  }

  .mobile_menu {
    width: 60%;
    left: -60%;
  }

  .active_mmnu {
    left: 0;
  }

  .main-head__top_content_form{
    width: 260px;
    height: 440px;
  }

  .map_wrap form {
    display: none;
  }

  .mob_wrap p{
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */